<!-- src/app/navbar/navbar.component.html -->
<header class="bg-gradient-to-r from-blue-950 to-blue-900 shadow-md">
  <nav class="container mx-auto px-6 py-3">
    <div class="flex items-center justify-between">
      <div class="text-white font-bold text-xl flex items-center">
        <a routerLink="/">
          <img src="logo724web.png" alt="7/24 Logo" class="h-16 inline">
        </a>
      </div>
      <div class="hidden md:block">
        <ul class="flex items-center space-x-4">
          <li><a routerLink="/" class="text-white">Home</a></li>
          <li><a routerLink="/documentos" class="text-white">Documentos</a></li>
          <!-- Puedes agregar más enlaces aquí -->
          <!-- <li><a routerLink="/about" class="text-white">About</a></li> -->
        </ul>
      </div>
      <div class="md:hidden">
        <button (click)="toggleMenu()" class="outline-none mobile-menu-button text-white">
          <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
          </svg>
        </button>
      </div>
    </div>
    <div [ngClass]="{'block': isMenuOpen, 'hidden': !isMenuOpen}" class="mobile-menu md:hidden">
      <ul class="mt-4 space-y-4">
        <li><a routerLink="/" class="block px-4 py-2 text-white bg-blue-950 rounded">Home</a></li>
        <li><a routerLink="/documentos" class="block px-4 py-2 text-white bg-blue-950 rounded">Documentos</a></li>
        <!-- Puedes agregar más enlaces aquí -->
        <!-- <li><a routerLink="/about" class="block px-4 py-2 text-white bg-gray-900 rounded">About</a></li> -->
      </ul>
    </div>
  </nav>
</header>
