<!-- src/app/documentos/documentos.component.html -->
<section class="container mx-auto px-6 py-12">
  <div class="text-center mb-12">
    <h2 class="text-4xl font-bold text-blue-900">Documentos PDF</h2>
    <p class="text-gray-600">Descarga los siguientes documentos importantes:</p>
  </div>
  <mat-tab-group class="mb-8">
    <mat-tab label="Operaciones">
      <div class="p-4 bg-gray-100 rounded-lg mb-8">
        <h3 class="text-xl font-semibold text-blue-900 mb-2">Documentos de Operaciones</h3>
        <p class="text-gray-600 mb-4">Aquí encontrarás documentos relacionados con las operaciones de la empresa, incluyendo políticas y procedimientos esenciales para el funcionamiento diario.</p>
      </div>
      <div class="flex flex-wrap -mx-4">
        <div class="w-full sm:w-1/2 lg:w-1/3 px-4 mb-8">
          <div class="bg-white p-6 rounded-lg shadow-lg transition duration-200 hover:shadow-xl document-box">
            <div class="document-content">
              <h3 class="text-2xl font-semibold mb-2 text-orange-500">Uso correcto de escalera manual</h3>
              <h4 class="text-lg font-medium mb-2 text-gray-700">PECROP03</h4>
              <h5 class="text-l font-medium mb-2 text-blue-600">Procedimiento específico</h5>
              <p class="text-gray-600 mb-4">Establecer el uso correcto de escalera manual, para así poder garantizar la seguridad de cada colaborador dentro de Comercializadora Rápido S.A. DE C.V.</p>
            </div>
            <a href="OPERACIONES/PECROP03%20Uso%20correcto%20de%20la%20escalera/PECROP03%20Uso%20correcto%20de%20la%20escalera.pdf" download class="bg-blue-500 text-white font-semibold px-4 py-2 rounded document-download transition duration-200 hover:bg-blue-700">Descargar</a>
          </div>
        </div>
        <div class="w-full sm:w-1/2 lg:w-1/3 px-4 mb-8">
          <div class="bg-white p-6 rounded-lg shadow-lg transition duration-200 hover:shadow-xl document-box">
            <div class="document-content">
              <h3 class="text-2xl font-semibold mb-2 text-orange-500">Carga Manual</h3>
              <h4 class="text-lg font-medium mb-2 text-gray-700">PECROP04</h4>
              <h5 class="text-l font-medium mb-2 text-blue-600">Procedimiento específico</h5>
              <p class="text-gray-600 mb-4">Establecer los elementos para realizar el manejo manual de las cargas correcto, con el fin de prevenir alteraciones a la salud de cada uno de los colaboradores dentro de Comercializadora Rápido S.A de C.V.</p>
            </div>
            <a href="OPERACIONES/PECROP04_Carga_manual/PECROP04_Carga_manual.pdf" download class="bg-blue-500 text-white font-semibold px-4 py-2 rounded document-download transition duration-200 hover:bg-blue-700">Descargar</a>
          </div>
        </div>
        <div class="w-full sm:w-1/2 lg:w-1/3 px-4 mb-8">
          <div class="bg-white p-6 rounded-lg shadow-lg transition duration-200 hover:shadow-xl document-box">
            <div class="document-content">
              <h3 class="text-2xl font-semibold mb-2 text-orange-500">Corresponsalías BBVA</h3>
              <h4 class="text-lg font-medium mb-2 text-gray-700">PECROP06</h4>
              <h5 class="text-l font-medium mb-2 text-blue-600">Procedimiento específico</h5>
              <p class="text-gray-600 mb-4">Establecer el proceso y responsabilidades para la correcta ejecución de corresponsalías BBVA.</p>
            </div>
            <a href="OPERACIONES/PECROP06_Corresponsalías_BBVA/PECROP06_Corresponsalias_BBVA.pdf" download class="bg-blue-500 text-white font-semibold px-4 py-2 rounded document-download transition duration-200 hover:bg-blue-700">Descargar</a>
          </div>
        </div>
        <div class="w-full sm:w-1/2 lg:w-1/3 px-4 mb-8">
          <div class="bg-white p-6 rounded-lg shadow-lg transition duration-200 hover:shadow-xl document-box">
            <div class="document-content">
              <h3 class="text-2xl font-semibold mb-2 text-orange-500">Corresponsalías Santander de México</h3>
              <h4 class="text-lg font-medium mb-2 text-gray-700">PECROP07</h4>
              <h5 class="text-l font-medium mb-2 text-blue-600">Procedimiento específico</h5>
              <p class="text-gray-600 mb-4">Establecer el proceso y responsabilidades para la correcta ejecución de corresponsalías Santander México.</p>
            </div>
            <a href="OPERACIONES/PECROP07CorresponsaliasSantander/PECROP07CorresponsaliasSantander.pdf" download class="bg-blue-500 text-white font-semibold px-4 py-2 rounded document-download transition duration-200 hover:bg-blue-700">Descargar</a>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Sistemas">
      <div class="p-4 bg-gray-100 rounded-lg mb-8">
        <h3 class="text-xl font-semibold text-blue-900 mb-2">Documentos de Sistemas</h3>
        <p class="text-gray-600 mb-4">Aquí encontrarás documentos relacionados con los sistemas de la empresa, incluyendo guías, normas y formatos para el uso y control adecuado de los recursos tecnológicos.</p>
      </div>

      <div class="flex flex-wrap -mx-4">
        <div class="w-full sm:w-1/2 lg:w-1/3 px-4 mb-8">
          <div class="bg-white p-6 rounded-lg shadow-lg transition duration-200 hover:shadow-xl document-box">
            <div class="document-content">
              <h3 class="text-2xl font-semibold mb-2 text-orange-500">Respaldo de la información</h3>
              <h4 class="text-lg font-medium mb-2 text-gray-700">PECRSI01</h4>
              <h5 class="text-l font-medium mb-2 text-blue-600">Procedimiento Específico</h5>
              <p class="text-gray-600">Establecer y mantener un procedimiento donde se describan las actividades de respaldo de la información relevante de las operaciones que se ejecutan en las sucursales de COMERCIALIZADORA RÁPIDO S.A DE C.V. conocidas como “7/24 mix”.</p>
            </div>
            <a href="Sistemas/PECRSI01Respaldodelainformacion/PECRSI01Respaldodelainformacion.pdf" download class="bg-blue-500 text-white font-semibold px-4 py-2 rounded document-download transition duration-200 hover:bg-blue-700">Descargar</a>
          </div>
        </div>

        <div class="w-full sm:w-1/2 lg:w-1/3 px-4 mb-8">
          <div class="bg-white p-6 rounded-lg shadow-lg transition duration-200 hover:shadow-xl document-box">
            <div class="document-content">
              <h3 class="text-2xl font-semibold mb-2 text-orange-500">Destrucción y eliminación segura de la información</h3>
              <h4 class="text-lg font-medium mb-2 text-gray-700">PECRSI02</h4>
              <h5 class="text-l font-medium mb-2 text-blue-600">Procedimiento Específico</h5>
              <p class="text-gray-600">Determinar las fases del proceso para el borrado, destrucción y/o eliminación segura de los activos de la información almacenada en medios digitales, disco duro, otros dispositivos alternos, que vayan a ser dados de baja o eliminados por parte de personal del área Sistemas IT.</p>
            </div>
            <a href="Sistemas/PECRSI02DestruccioneliminacionSeguraDeLaInformacion/PECRSI02DestruccionEliminacionSeguraDeLaInformacion.pdf" download class="bg-blue-500 text-white font-semibold px-4 py-2 rounded document-download transition duration-200 hover:bg-blue-700">Descargar</a>
          </div>
        </div>

        <div class="w-full sm:w-1/2 lg:w-1/3 px-4 mb-8">
          <div class="bg-white p-6 rounded-lg shadow-lg transition duration-200 hover:shadow-xl document-box">
            <div class="document-content">
              <h3 class="text-2xl font-semibold mb-2 text-orange-500">Gestión de cambios de TI</h3>
              <h4 class="text-lg font-medium mb-2 text-gray-700">PECRSI03</h4>
              <h5 class="text-l font-medium mb-2 text-blue-600">Procedimiento Específico</h5>
              <p class="text-gray-600">Establecer los criterios que se deben seguir para el control de cambios en los Servicios de Tecnologías de información y comunicaciones en comercializadora rápido S.A. de C.V aplicando el ITIL.</p>
            </div>
            <a href="Sistemas/PECRSI03GestióndecambiosdeTI/PECRSI03GestióndecambiosdeTI.pdf" download class="bg-blue-500 text-white font-semibold px-4 py-2 rounded document-download transition duration-200 hover:bg-blue-700">Descargar</a>
          </div>
        </div>

        <div class="w-full sm:w-1/2 lg:w-1/3 px-4 mb-8">
          <div class="bg-white p-6 rounded-lg shadow-lg transition duration-200 hover:shadow-xl document-box">
            <div class="document-content">
              <h3 class="text-2xl font-semibold mb-2 text-orange-500">Uso de tecnologías de la información</h3>
              <h4 class="text-lg font-medium mb-2 text-gray-700">PECRSI04</h4>
              <h5 class="text-l font-medium mb-2 text-blue-600">Procedimiento Específico</h5>
              <p class="text-gray-600">Definir operaciones en el uso de tecnologías dentro de la Organización con respecto al uso y prohibiciones de los sistemas de información y de los activos que la contengan en Comercializadora Rápido S.A. DE C.V.</p>
            </div>
            <a href="Sistemas/PECRSI04Usodetecnologíasdelainformación/PECRSI04Usodetecnologíasdelainformación.pdf" download class="bg-blue-500 text-white font-semibold px-4 py-2 rounded document-download transition duration-200 hover:bg-blue-700">Descargar</a>
          </div>
        </div>

        <div class="w-full sm:w-1/2 lg:w-1/3 px-4 mb-8">
          <div class="bg-white p-6 rounded-lg shadow-lg transition duration-200 hover:shadow-xl document-box">
            <div class="document-content">
              <h3 class="text-2xl font-semibold mb-2 text-orange-500">Control de accesos</h3>
              <h4 class="text-lg font-medium mb-2 text-gray-700">PECRSI05</h4>
              <h5 class="text-l font-medium mb-2 text-blue-600">Procedimiento Específico</h5>
              <p class="text-gray-600">Asegurar que se cumplan los criterios de acceso para usuarios de los sistemas autorizados de Comercializadora Rápido S.A de C.V. a través de revisión de los privilegios y permisos de acuerdo a las funciones del personal.</p>
            </div>
            <a href="Sistemas/PECRSI05Controldeacceso/PECRSI05Controldeacceso.pdf" download class="bg-blue-500 text-white font-semibold px-4 py-2 rounded document-download transition duration-200 hover:bg-blue-700">Descargar</a>
          </div>
        </div>

        <div class="w-full sm:w-1/2 lg:w-1/3 px-4 mb-8">
          <div class="bg-white p-6 rounded-lg shadow-lg transition duration-200 hover:shadow-xl document-box">
            <div class="document-content">
              <h3 class="text-2xl font-semibold mb-2 text-orange-500">Análisis estático</h3>
              <h4 class="text-lg font-medium mb-2 text-gray-700">PECRSI06</h4>
              <h5 class="text-l font-medium mb-2 text-blue-600">Procedimiento Específico</h5>
              <p class="text-gray-600">Implantar dentro del ciclo de vida de desarrollo de aplicaciones y programas el análisis de código estático para detectar y mitigar vulnerabilidades de la seguridad del código</p>
            </div>
            <a href="Sistemas/PECRSI06Análisisestático/PECRSI06Análisisestático.pdf" download class="bg-blue-500 text-white font-semibold px-4 py-2 rounded document-download transition duration-200 hover:bg-blue-700">Descargar</a>
          </div>
        </div>

        <div class="w-full sm:w-1/2 lg:w-1/3 px-4 mb-8">
          <div class="bg-white p-6 rounded-lg shadow-lg transition duration-200 hover:shadow-xl document-box">
            <div class="document-content">
              <h3 class="text-2xl font-semibold mb-2 text-orange-500">Configuración y Administración de antivirus</h3>
              <h4 class="text-lg font-medium mb-2 text-gray-700">PECRSI07</h4>
              <h5 class="text-l font-medium mb-2 text-blue-600">Procedimiento Específico</h5>
              <p class="text-gray-600">Gestionar los mecanismos que nos permitan poder responder de forma centralizada ante las posibles amenazas y monitoreo de los equipos para detectar vulnerabilidades y tomar acciones de corrección y mejora.</p>
            </div>
            <a href="Sistemas/PECRSI07ConfiguraciónyAdministracióndeantivirus/PECRSI07ConfiguraciónyAdministracióndeantivirus.pdf" download class="bg-blue-500 text-white font-semibold px-4 py-2 rounded document-download transition duration-200 hover:bg-blue-700">Descargar</a>
          </div>
        </div>

        <div class="w-full sm:w-1/2 lg:w-1/3 px-4 mb-8">
          <div class="bg-white p-6 rounded-lg shadow-lg transition duration-200 hover:shadow-xl document-box">
            <div class="document-content">
              <h3 class="text-2xl font-semibold mb-2 text-orange-500">Circuito cerrado de televisión</h3>
              <h4 class="text-lg font-medium mb-2 text-gray-700">PECRSI08</h4>
              <h5 class="text-l font-medium mb-2 text-blue-600">Procedimiento Específico</h5>
              <p class="text-gray-600">Garantizar la seguridad de los activos, las instalaciones y personas dentro de las instalaciones y sucursales de Comercializadora Rápido S.A. de C.V., mediante la utilización de los recursos tecnológicos y humanos; así como, la aplicación de controles para vigilar el funcionamiento efectivo del CCTV.</p>
            </div>
            <a href="Sistemas/PECRSI08Circuitocerradodetelevisión/PECRSI08Circuitocerradodetelevisión.pdf" download class="bg-blue-500 text-white font-semibold px-4 py-2 rounded document-download transition duration-200 hover:bg-blue-700">Descargar</a>
          </div>
        </div>

        <div class="w-full sm:w-1/2 lg:w-1/3 px-4 mb-8">
          <div class="bg-white p-6 rounded-lg shadow-lg transition duration-200 hover:shadow-xl document-box">
            <div class="document-content">
              <h3 class="text-2xl font-semibold mb-2 text-orange-500">Seguridad del centro de datos</h3>
              <h4 class="text-lg font-medium mb-2 text-gray-700">PECRSI09</h4>
              <h5 class="text-l font-medium mb-2 text-blue-600">Procedimiento Específico</h5>
              <p class="text-gray-600">Garantizar la seguridad de los activos, las instalaciones y personas dentro del centro de datos en Comercializadora Rápido S.A. de C.V. ante situaciones imprevistas; cumpliendo con las especificaciones y controles físicos.</p>
            </div>
            <a href="Sistemas/PECRSI09Seguridaddelcentrodedatos/PECRSI09Seguridaddelcentrodedatos.pdf" download class="bg-blue-500 text-white font-semibold px-4 py-2 rounded document-download transition duration-200 hover:bg-blue-700">Descargar</a>
          </div>
        </div>

        <div class="w-full sm:w-1/2 lg:w-1/3 px-4 mb-8">
          <div class="bg-white p-6 rounded-lg shadow-lg transition duration-200 hover:shadow-xl document-box">
            <div class="document-content">
              <h3 class="text-2xl font-semibold mb-2 text-orange-500">Ciclo de vida desarrollo seguro software “POS724”</h3>
              <h4 class="text-lg font-medium mb-2 text-gray-700">PECRSI10</h4>
              <h5 class="text-l font-medium mb-2 text-blue-600">Procedimiento Específico</h5>
              <p class="text-gray-600">Dar a conocer el procedimiento general de mejoras aplicativas para el desarrollo y reingeniería de software (POS 724) basado en metodología SDL de Microsoft.</p>
            </div>
            <a href="Sistemas/PECRSI10CiclodevidadesarrollosegurosoftwarePOS724/PECRSI10CiclodevidadesarrollosegurosoftwarePOS724.pdf" download class="bg-blue-500 text-white font-semibold px-4 py-2 rounded document-download transition duration-200 hover:bg-blue-700">Descargar</a>
          </div>
        </div>

        <div class="w-full sm:w-1/2 lg:w-1/3 px-4 mb-8">
          <div class="bg-white p-6 rounded-lg shadow-lg transition duration-200 hover:shadow-xl document-box">
            <div class="document-content">
              <h3 class="text-2xl font-semibold mb-2 text-orange-500">Hardening</h3>
              <h4 class="text-lg font-medium mb-2 text-gray-700">PECRSI11</h4>
              <h5 class="text-l font-medium mb-2 text-blue-600">Procedimiento Específico</h5>
              <p class="text-gray-600">Establecer los métodos estándar para mantener actualizados y habilitados los controles de seguridad en el sistema operativo de Comercializadora Rápido S.A. de C.V., así como identificar y gestionar el hardening de los activos de la información con el fin de minimizar los riesgos de seguridad.</p>
            </div>
            <a href="Sistemas/PECRSI11Hardening/PECRSI11Hardening.pdf" download class="bg-blue-500 text-white font-semibold px-4 py-2 rounded document-download transition duration-200 hover:bg-blue-700">Descargar</a>
          </div>
        </div>

        <div class="w-full sm:w-1/2 lg:w-1/3 px-4 mb-8">
          <div class="bg-white p-6 rounded-lg shadow-lg transition duration-200 hover:shadow-xl document-box">
            <div class="document-content">
              <h3 class="text-2xl font-semibold mb-2 text-orange-500">Reglas firewall</h3>
              <h4 class="text-lg font-medium mb-2 text-gray-700">PECRSI012</h4>
              <h5 class="text-l font-medium mb-2 text-blue-600">Procedimiento Específico</h5>
              <p class="text-gray-600">El objetivo de este procedimiento es definir las reglas esenciales relativas a la gestión y mantenimiento del Firewall (fortigate) empleado en todos los equipos de Comercializadora rápido S.A. de C.V.</p>
            </div>
            <a href="Sistemas/PECRSI12ReglasFirewall/PECRSI12ReglasFirewall.pdf" download class="bg-blue-500 text-white font-semibold px-4 py-2 rounded document-download transition duration-200 hover:bg-blue-700">Descargar</a>
          </div>
        </div>

        <div class="w-full sm:w-1/2 lg:w-1/3 px-4 mb-8">
          <div class="bg-white p-6 rounded-lg shadow-lg transition duration-200 hover:shadow-xl document-box">
            <div class="document-content">
              <h3 class="text-2xl font-semibold mb-2 text-orange-500">Trafico de red</h3>
              <h4 class="text-lg font-medium mb-2 text-gray-700">PECRSI13</h4>
              <h5 class="text-l font-medium mb-2 text-blue-600">Procedimiento Específico</h5>
              <p class="text-gray-600">El objetivo de este procedimiento es almacenar el flujo de información generado por los sistemas de la red operacional de Comercializadora rápido S.A. de C.V.</p>
            </div>
            <a href="Sistemas/PECRSI13TraficodeRed/PECRSI13TraficodeRed.pdf" download class="bg-blue-500 text-white font-semibold px-4 py-2 rounded document-download transition duration-200 hover:bg-blue-700">Descargar</a>
          </div>
        </div>

        <div class="w-full sm:w-1/2 lg:w-1/3 px-4 mb-8">
          <div class="bg-white p-6 rounded-lg shadow-lg transition duration-200 hover:shadow-xl document-box">
            <div class="document-content">
              <h3 class="text-2xl font-semibold mb-2 text-orange-500">Evaluación de incidentes de seguridad de la información</h3>
              <h4 class="text-lg font-medium mb-2 text-gray-700">PECRSI14</h4>
              <h5 class="text-l font-medium mb-2 text-blue-600">Procedimiento Específico</h5>
              <p class="text-gray-600">Determinar los criterios de evaluación de la seguridad de la información de los Sistemas Tecnológicos de la Información de Comercializadora rápido S.A. de C.V. para su adecuada gestión de Riesgos, disponer de lineamientos de seguridad ante situaciones de emergencia, que nos apoyen a mitigar el impacto generado por la interrupción de los servicios críticos que afecten las operaciones normales de COMERCIALIZADORA RÁPIDO S.A. DE C.V.</p>
            </div>
            <a href="Sistemas/PECRSI14Evaluacióndeincidentesdeseguridaddelainformación/PECRSI14Evaluacióndeincidentesdeseguridaddelainformación.pdf" download class="bg-blue-500 text-white font-semibold px-4 py-2 rounded document-download transition duration-200 hover:bg-blue-700">Descargar</a>
          </div>
        </div>

        <div class="w-full sm:w-1/2 lg:w-1/3 px-4 mb-8">
          <div class="bg-white p-6 rounded-lg shadow-lg transition duration-200 hover:shadow-xl document-box">
            <div class="document-content">
              <h3 class="text-2xl font-semibold mb-2 text-orange-500">Cifrado de datos y Resguardo de llaves</h3>
              <h4 class="text-lg font-medium mb-2 text-gray-700">PECRSI15</h4>
              <h5 class="text-l font-medium mb-2 text-blue-600">Procedimiento Específico</h5>
              <p class="text-gray-600">Garantizar el uso adecuado y eficaz de las técnicas criptográficas para asegurar la confidencialidad, integridad y autenticidad de la información sensible manejada por Comercializadora Rápido S.A. de C.V., tanto almacenada como en tránsito.</p>
            </div>
            <a href="Sistemas/PECRSI15CifradodeDatosyResguardodellaves/PECRSI15CifradodeDatosyResguardodellaves.pdf" download class="bg-blue-500 text-white font-semibold px-4 py-2 rounded document-download transition duration-200 hover:bg-blue-700">Descargar</a>
          </div>
        </div>

        <div class="w-full sm:w-1/2 lg:w-1/3 px-4 mb-8">
          <div class="bg-white p-6 rounded-lg shadow-lg transition duration-200 hover:shadow-xl document-box">
            <div class="document-content">
              <h3 class="text-2xl font-semibold mb-2 text-orange-500">Bitácoras de Transacciones Santander</h3>
              <h4 class="text-lg font-medium mb-2 text-gray-700">PECRSI16</h4>
              <h5 class="text-l font-medium mb-2 text-blue-600">Procedimiento Específico</h5>
              <p class="text-gray-600">Establecer la metodología para generar los registros ordenados, claros y sistemáticos de las transacciones ocurridas entre el sistema POS y el HOST SANTANDER.</p>
            </div>
            <a href="Sistemas/PECRSI16BitácorasdeTransaccionesSantander/PECRSI16BitácorasdeTransaccionesSantander.pdf" download class="bg-blue-500 text-white font-semibold px-4 py-2 rounded document-download transition duration-200 hover:bg-blue-700">Descargar</a>
          </div>
        </div>

        <div class="w-full sm:w-1/2 lg:w-1/3 px-4 mb-8">
          <div class="bg-white p-6 rounded-lg shadow-lg transition duration-200 hover:shadow-xl document-box">
            <div class="document-content">
              <h3 class="text-2xl font-semibold mb-2 text-orange-500">Prevención de Fuga de Datos (DLP)</h3>
              <h4 class="text-lg font-medium mb-2 text-gray-700">PECRSI17</h4>
              <h5 class="text-l font-medium mb-2 text-blue-600">Procedimiento Específico</h5>
              <p class="text-gray-600">Dar a conocer el procedimiento para contrarrestar las posibles fugas de datos para Garantizar la confidencialidad y seguridad de toda la información relacionada con el tráfico de red utilizando políticas DLP del firewall.</p>
            </div>
            <a href="Sistemas/PECRSI17PrevencióndeFugadeDatos(DLP)/PECRSI17PrevencióndeFugadeDatos(DLP).pdf" download class="bg-blue-500 text-white font-semibold px-4 py-2 rounded document-download transition duration-200 hover:bg-blue-700">Descargar</a>
          </div>
        </div>

        <div class="w-full sm:w-1/2 lg:w-1/3 px-4 mb-8">
          <div class="bg-white p-6 rounded-lg shadow-lg transition duration-200 hover:shadow-xl document-box">
            <div class="document-content">
              <h3 class="text-2xl font-semibold mb-2 text-orange-500">Fallas eléctricas en tienda</h3>
              <h4 class="text-lg font-medium mb-2 text-gray-700">PECRSI18</h4>
              <h5 class="text-l font-medium mb-2 text-blue-600">Procedimiento Específico</h5>
              <p class="text-gray-600">Establecer y mantener un procedimiento de contingencia en caso de que falle la energía eléctrica en alguna de las sucursales de la empresa Comercializadora Rápido S.A. de C.V., en el momento en que encuentren realizando una transacción de corresponsales y/o venta con tarjeta de crédito o débito.</p>
            </div>
            <a href="Sistemas/PECRSI18Fallaseléctricasentienda/PECRSI18Fallaseléctricasentienda.pdf" download class="bg-blue-500 text-white font-semibold px-4 py-2 rounded document-download transition duration-200 hover:bg-blue-700">Descargar</a>
          </div>
        </div>

        <div class="w-full sm:w-1/2 lg:w-1/3 px-4 mb-8">
          <div class="bg-white p-6 rounded-lg shadow-lg transition duration-200 hover:shadow-xl document-box">
            <div class="document-content">
              <h3 class="text-2xl font-semibold mb-2 text-orange-500">Fallas eléctricas en tienda</h3>
              <h4 class="text-lg font-medium mb-2 text-gray-700">PECRSI18</h4>
              <h5 class="text-l font-medium mb-2 text-blue-600">Procedimiento Específico</h5>
              <p class="text-gray-600">Establecer y mantener un procedimiento de contingencia en caso de que falle la energía eléctrica en alguna de las sucursales de la empresa Comercializadora Rápido S.A. de C.V., en el momento en que encuentren realizando una transacción de corresponsales y/o venta con tarjeta de crédito o débito.</p>
            </div>
            <a href="Sistemas/PECRSI18Fallaseléctricasentienda/PECRSI18Fallaseléctricasentienda.pdf" download class="bg-blue-500 text-white font-semibold px-4 py-2 rounded document-download transition duration-200 hover:bg-blue-700">Descargar</a>
          </div>
        </div>

        <div class="w-full sm:w-1/2 lg:w-1/3 px-4 mb-8">
          <div class="bg-white p-6 rounded-lg shadow-lg transition duration-200 hover:shadow-xl document-box">
            <div class="document-content">
              <h3 class="text-2xl font-semibold mb-2 text-orange-500">Conectividad</h3>
              <h4 class="text-lg font-medium mb-2 text-gray-700">PECRSI19</h4>
              <h5 class="text-l font-medium mb-2 text-blue-600">Procedimiento Específico</h5>
              <p class="text-gray-600">Dar a conocer y explicar el proceso que tiene Comercializadora Rápido S.A. de C.V. para la conectividad de las sucursales con el SITE propio y el SITE del banco Santander de México.</p>
            </div>
            <a href="Sistemas/PECRSI19Conectividad/PECRSI19Conectividad.pdf" download class="bg-blue-500 text-white font-semibold px-4 py-2 rounded document-download transition duration-200 hover:bg-blue-700">Descargar</a>
          </div>
        </div>

        <div class="w-full sm:w-1/2 lg:w-1/3 px-4 mb-8">
          <div class="bg-white p-6 rounded-lg shadow-lg transition duration-200 hover:shadow-xl document-box">
            <div class="document-content">
              <h3 class="text-2xl font-semibold mb-2 text-orange-500">Gestión de la vulnerabilidad</h3>
              <h4 class="text-lg font-medium mb-2 text-gray-700">PECRSI20</h4>
              <h5 class="text-l font-medium mb-2 text-blue-600">Procedimiento Específico</h5>
              <p class="text-gray-600">Establecer el procedimiento que garantice a los activos de la información, la continuidad y ejecución de las operaciones para la prevención y tratamiento de vulnerabilidades en los componentes de las TIC´s que; soportan los procesos de información de Comercializadora Rápido S.A de C.V y que puedan representar un riesgo.</p>
            </div>
            <a href="Sistemas/PECRSI20GestiondelaVulnerabilidad/PECRSI20GestióndelaVulnerabilidad.pdf" download class="bg-blue-500 text-white font-semibold px-4 py-2 rounded document-download transition duration-200 hover:bg-blue-700">Descargar</a>
          </div>
        </div>


        <div class="w-full sm:w-1/2 lg:w-1/3 px-4 mb-8">
          <div class="bg-white p-6 rounded-lg shadow-lg transition duration-200 hover:shadow-xl document-box">
            <div class="document-content">
              <h3 class="text-2xl font-semibold mb-2 text-orange-500">Gestión de disponibilidad y capacidad</h3>
              <h4 class="text-lg font-medium mb-2 text-gray-700">PECRSI21</h4>
              <h5 class="text-l font-medium mb-2 text-blue-600">Procedimiento Específico</h5>
              <p class="text-gray-600">Establecer el proceso de Gestión de la disponibilidad y capacidad de los recursos informáticos para garantizar la mejora en las actividades de ciclo de servicios.</p>
            </div>
            <a href="Sistemas/PECRSI21Gestióndedisponibilidadycapacidad/PECRSI21Gestióndedisponibilidadycapacidad.pdf" download class="bg-blue-500 text-white font-semibold px-4 py-2 rounded document-download transition duration-200 hover:bg-blue-700">Descargar</a>
          </div>
        </div>

        <div class="w-full sm:w-1/2 lg:w-1/3 px-4 mb-8">
          <div class="bg-white p-6 rounded-lg shadow-lg transition duration-200 hover:shadow-xl document-box">
            <div class="document-content">
              <h3 class="text-2xl font-semibold mb-2 text-orange-500">Informática Forense</h3>
              <h4 class="text-lg font-medium mb-2 text-gray-700">PECRSI22</h4>
              <h5 class="text-l font-medium mb-2 text-blue-600">Procedimiento Específico</h5>
              <p class="text-gray-600">Determinar el análisis digital forense considerando las fases de: Identificación, preservación (no modificando la evidencia), obtención, la documentación y el análisis de información</p>
            </div>
            <a href="Sistemas/PECRSI22InformáticaForense/PECRSI22InformáticaForense.pdf" download class="bg-blue-500 text-white font-semibold px-4 py-2 rounded document-download transition duration-200 hover:bg-blue-700">Descargar</a>
          </div>
        </div>


        <div class="w-full sm:w-1/2 lg:w-1/3 px-4 mb-8">
          <div class="bg-white p-6 rounded-lg shadow-lg transition duration-200 hover:shadow-xl document-box">
            <div class="document-content">
              <h3 class="text-2xl font-semibold mb-2 text-orange-500">Parches y actualizaciones pos_724</h3>
              <h4 class="text-lg font-medium mb-2 text-gray-700">PECRSI23</h4>
              <h5 class="text-l font-medium mb-2 text-blue-600">Procedimiento Específico</h5>
              <p class="text-gray-600">Establecer el procedimiento empleado para la aplicación y actualización de parches en los sistemas de información empleados por Comercializadora Rápido S.A. de C.V, con el propósito de mitigar los riesgos derivados de la pérdida, eliminación o integridad de información.</p>
            </div>
            <a href="Sistemas/PECRSI23ParchesActualizacionesPos_724/PECRSI23ParchesActualizacionesPos724.pdf" download class="bg-blue-500 text-white font-semibold px-4 py-2 rounded document-download transition duration-200 hover:bg-blue-700">Descargar</a>
          </div>
        </div>

        <div class="w-full sm:w-1/2 lg:w-1/3 px-4 mb-8">
          <div class="bg-white p-6 rounded-lg shadow-lg transition duration-200 hover:shadow-xl document-box">
            <div class="document-content">
              <h3 class="text-2xl font-semibold mb-2 text-orange-500">Gestión de LOGS</h3>
              <h4 class="text-lg font-medium mb-2 text-gray-700">PECRSI24</h4>
              <h5 class="text-l font-medium mb-2 text-blue-600">Procedimiento Específico</h5>
              <p class="text-gray-600">Establecer el proceso de revisión y monitoreo de logs que se generan en el servidor Bancomer para detectar y reaccionar ante posibles intrusiones que vulneren la seguridad de la información de Comercializadora Rápido S.A. de C.V.</p>
            </div>
            <a href="Sistemas/PECRSI24GestiónDeLOGS/PECRSI24GestionDeLOGS.pdf" download class="bg-blue-500 text-white font-semibold px-4 py-2 rounded document-download transition duration-200 hover:bg-blue-700">Descargar</a>
          </div>
        </div>

        <div class="w-full sm:w-1/2 lg:w-1/3 px-4 mb-8">
          <div class="bg-white p-6 rounded-lg shadow-lg transition duration-200 hover:shadow-xl document-box">
            <div class="document-content">
              <h3 class="text-2xl font-semibold mb-2 text-orange-500">Bitácoras de Transacciones BBVA</h3>
              <h4 class="text-lg font-medium mb-2 text-gray-700">PECRSI25</h4>
              <h5 class="text-l font-medium mb-2 text-blue-600">Procedimiento Específico</h5>
              <p class="text-gray-600">Establecer la metodología para generar los registros ordenados, claros y sistemáticos de las transacciones ocurridas en el HOST BBVA.</p>
            </div>
            <a href="Sistemas/PECRSI25BitácorasdeTransaccionesBBVA/PECRSI25BitácorasdeTransaccionesBBVA.pdf" download class="bg-blue-500 text-white font-semibold px-4 py-2 rounded document-download transition duration-200 hover:bg-blue-700">Descargar</a>
          </div>
        </div>

        <div class="w-full sm:w-1/2 lg:w-1/3 px-4 mb-8">
          <div class="bg-white p-6 rounded-lg shadow-lg transition duration-200 hover:shadow-xl document-box">
            <div class="document-content">
              <h3 class="text-2xl font-semibold mb-2 text-orange-500">Gestión de servicios</h3>
              <h4 class="text-lg font-medium mb-2 text-gray-700">PECRSI26</h4>
              <h5 class="text-l font-medium mb-2 text-blue-600">Procedimiento Específico</h5>
              <p class="text-gray-600">Establecer el proceso de Gestión de los servicios a través de mejores prácticas, herramientas y recursos disponibles para la entrega de los servicios solicitados.</p>
            </div>
            <a href="Sistemas/PECRSI26GestionDeServicios/PECRSI26GestionDeServicios.pdf" download class="bg-blue-500 text-white font-semibold px-4 py-2 rounded document-download transition duration-200 hover:bg-blue-700">Descargar</a>
          </div>
        </div>

        <div class="w-full sm:w-1/2 lg:w-1/3 px-4 mb-8">
          <div class="bg-white p-6 rounded-lg shadow-lg transition duration-200 hover:shadow-xl document-box">
            <div class="document-content">
              <h3 class="text-2xl font-semibold mb-2 text-orange-500">Desbloqueo de usuario</h3>
              <h4 class="text-lg font-medium mb-2 text-gray-700">PECRSI27</h4>
              <h5 class="text-l font-medium mb-2 text-blue-600">Procedimiento Específico</h5>
              <p class="text-gray-600">Establecer y mantener un procedimiento de desbloqueo del Usuario del Operador en la Sucursal que está activo para que pueda continuar realizando transacciones.</p>
            </div>
            <a href="Sistemas/PECRSI27Desbloqueodeusuario/PECRSI27Desbloqueodeusuario.pdf" download class="bg-blue-500 text-white font-semibold px-4 py-2 rounded document-download transition duration-200 hover:bg-blue-700">Descargar</a>
          </div>
        </div>

        <div class="w-full sm:w-1/2 lg:w-1/3 px-4 mb-8">
          <div class="bg-white p-6 rounded-lg shadow-lg transition duration-200 hover:shadow-xl document-box">
            <div class="document-content">
              <h3 class="text-2xl font-semibold mb-2 text-orange-500">Gestión de obsolescencia tecnológica</h3>
              <h4 class="text-lg font-medium mb-2 text-gray-700">PECRSI28</h4>
              <h5 class="text-l font-medium mb-2 text-blue-600">Procedimiento Específico</h5>
              <p class="text-gray-600">Establecer el mecanismo de evaluación para identificar la probabilidad y el impacto de la obsolescencia sobre cada activo y; determinar las acciones necesarias.</p>
            </div>
            <a href="Sistemas/PECRSI28Gestióndeobsolescenciatecnológica/PECRSI28Gestióndeobsolescenciatecnológica.pdf" download class="bg-blue-500 text-white font-semibold px-4 py-2 rounded document-download transition duration-200 hover:bg-blue-700">Descargar</a>
          </div>
        </div>

        <div class="w-full sm:w-1/2 lg:w-1/3 px-4 mb-8">
          <div class="bg-white p-6 rounded-lg shadow-lg transition duration-200 hover:shadow-xl document-box">
            <div class="document-content">
              <h3 class="text-2xl font-semibold mb-2 text-orange-500">Baja de usuarios</h3>
              <h4 class="text-lg font-medium mb-2 text-gray-700">PECRSI29</h4>
              <h5 class="text-l font-medium mb-2 text-blue-600">Procedimiento Específico</h5>
              <p class="text-gray-600">Establecer y mantener un procedimiento de baja de los Usuario del Operación en la Sucursal que están inactivos para evitar que pueda continuar realizando transacciones.</p>
            </div>
            <a href="Sistemas/PECRSI29Bajadeusuarios/PECRSI29Bajadeusuarios.pdf" download class="bg-blue-500 text-white font-semibold px-4 py-2 rounded document-download transition duration-200 hover:bg-blue-700">Descargar</a>
          </div>
        </div>

        <div class="w-full sm:w-1/2 lg:w-1/3 px-4 mb-8">
          <div class="bg-white p-6 rounded-lg shadow-lg transition duration-200 hover:shadow-xl document-box">
            <div class="document-content">
              <h3 class="text-2xl font-semibold mb-2 text-orange-500">Reporte al SICA</h3>
              <h4 class="text-lg font-medium mb-2 text-gray-700">PECRSI30</h4>
              <h5 class="text-l font-medium mb-2 text-blue-600">Procedimiento Específico</h5>
              <p class="text-gray-600">Establecer el mecanismo de atención y respuesta inmediata en el caso de que exista algún incidente o requerimiento por parte del usuario.</p>
            </div>
            <a href="Sistemas/PECRSI30ReporteAlSICA/PECRSI30ReporteSICA.pdf" download class="bg-blue-500 text-white font-semibold px-4 py-2 rounded document-download transition duration-200 hover:bg-blue-700">Descargar</a>
          </div>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</section>
