<!-- src/app/documentos/documentos.component.html -->
<section class="container mx-auto px-6 py-12">
  <div class="text-center mb-12">
    <h2 class="text-4xl font-bold text-blue-900">Documentos PDF</h2>
    <p class="text-gray-600">Descarga los siguientes documentos importantes:</p>
  </div>
  <mat-tab-group class="mb-8">
    <mat-tab label="Operaciones">
      <div class="p-4 bg-gray-100 rounded-lg mb-8">
        <h3 class="text-xl font-semibold text-blue-900 mb-2">Documentos de Operaciones</h3>
        <p class="text-gray-600 mb-4">Aquí encontrarás documentos relacionados con las operaciones de la empresa, incluyendo políticas y procedimientos esenciales para el funcionamiento diario.</p>
      </div>
      <div class="flex flex-wrap -mx-4">
        <div class="w-full md:w-1/3 px-4 mb-8">
          <div class="bg-white p-6 rounded-lg shadow-lg transition duration-200 hover:shadow-xl document-box">
            <div class="document-content">
              <h3 class="text-2xl font-semibold mb-2 text-orange-500">Uso correcto de escalera manual</h3>
              <h4 class="text-lg font-medium mb-2 text-gray-700">PECROP03</h4>
              <h5 class="text-l font-medium mb-2 text-blue-600">Procedimiento especifico</h5>
              <p class="text-gray-600 mb-4">Establecer el uso correcto de escalera manual, para así poder garantizar la seguridad de cada colaborador dentro de Comercializadora Rápido S.A. DE C.V.</p>
            </div>
            <a href="OPERACIONES/PECROP03%20Uso%20correcto%20de%20la%20escalera/PECROP03%20Uso%20correcto%20de%20la%20escalera.pdf" download class="bg-blue-500 text-white font-semibold px-4 py-2 rounded document-download transition duration-200 hover:bg-blue-700">Descargar</a>
          </div>
        </div>
        <div class="w-full md:w-1/3 px-4 mb-8">
          <div class="bg-white p-6 rounded-lg shadow-lg transition duration-200 hover:shadow-xl document-box">
            <div class="document-content">
              <h3 class="text-2xl font-semibold mb-2 text-orange-500">Carga Manual</h3>
              <h4 class="text-lg font-medium mb-2 text-gray-700">PECROP04</h4>
              <h5 class="text-l font-medium mb-2 text-blue-600">Procedimiento especifico</h5>
              <p class="text-gray-600 mb-4">Establecer los elementos para realizar el manejo manual de las cargas correcto, con el fin de prevenir alteraciones a la salud de cada uno de los colaboradores dentro de Comercializadora Rápido S.A de C.V.</p>
            </div>
            <a href="OPERACIONES/PECROP04_Carga_manual/PECROP04_Carga_manual.pdf" download class="bg-blue-500 text-white font-semibold px-4 py-2 rounded document-download transition duration-200 hover:bg-blue-700">Descargar</a>
          </div>
        </div>
        <div class="w-full md:w-1/3 px-4 mb-8">
          <div class="bg-white p-6 rounded-lg shadow-lg transition duration-200 hover:shadow-xl document-box">
            <div class="document-content">
              <h3 class="text-2xl font-semibold mb-2 text-orange-500">Corresponsalías BBVA</h3>
              <h4 class="text-lg font-medium mb-2 text-gray-700">PECROP06</h4>
              <h5 class="text-l font-medium mb-2 text-blue-600">Procedimiento especifico</h5>
              <p class="text-gray-600 mb-4">Establecer el proceso y responsabilidades para la correcta ejecución de corresponsalías BBVA.</p>
            </div>
            <a href="OPERACIONES/PECROP06_Corresponsalías_BBVA/PECROP06_Corresponsalias_BBVA.pdf" download class="bg-blue-500 text-white font-semibold px-4 py-2 rounded document-download transition duration-200 hover:bg-blue-700">Descargar</a>
          </div>
        </div>
        <div class="w-full md:w-1/3 px-4 mb-8">
          <div class="bg-white p-6 rounded-lg shadow-lg transition duration-200 hover:shadow-xl document-box">
            <div class="document-content">
              <h3 class="text-2xl font-semibold mb-2 text-orange-500">Corresponsalías Santander de México</h3>
              <h4 class="text-lg font-medium mb-2 text-gray-700">PECROP07</h4>
              <h5 class="text-l font-medium mb-2 text-blue-600">Procedimiento especifico</h5>
              <p class="text-gray-600 mb-4">Establecer el proceso y responsabilidades para la correcta ejecución de corresponsalías Santander México.</p>
            </div>
            <a href="OPERACIONES/PECROP07CorresponsaliasSantander/PECROP07CorresponsaliasSantander.pdf" download class="bg-blue-500 text-white font-semibold px-4 py-2 rounded document-download transition duration-200 hover:bg-blue-700">Descargar</a>
          </div>
        </div>
        <!-- Agrega más documentos aquí si es necesario -->
      </div>
    </mat-tab>
    <mat-tab label="Sistemas">
      <div class="p-4 bg-gray-100 rounded-lg mb-8">
        <h3 class="text-xl font-semibold text-blue-900 mb-2">Documentos de Sistemas</h3>
        <p class="text-gray-600 mb-4">Aquí encontrarás documentos relacionados con los sistemas de la empresa, incluyendo guías, normas y formatos para el uso y control adecuado de los recursos tecnológicos.</p>
      </div>
      <div class="flex flex-wrap -mx-4">
        <div class="w-full md:w-1/3 px-4 mb-8">
          <div class="bg-white p-6 rounded-lg shadow-lg transition duration-200 hover:shadow-xl document-box">
            <div class="document-content">
              <h3 class="text-2xl font-semibold mb-2 text-orange-500">Respaldo de la información</h3>
              <h4 class="text-lg font-medium mb-2 text-gray-700">PECRSI01</h4>
              <h5 class="text-l font-medium mb-2 text-blue-600">Procedimiento Especifico</h5>
              <p class="text-gray-600">Establecer y mantener un procedimiento donde se describan las actividades de respaldo de la información relevante de las operaciones que se ejecutan en las sucursales de COMERCIALIZADORA RÁPIDO S.A DE C.V. conocidas como “7/24 mix”.</p>
            </div>
            <a href="Sistemas/PECRSI01Respaldodelainformacion/PECRSI01Respaldodelainformacion.pdf" download class="bg-blue-500 text-white font-semibold px-4 py-2 rounded document-download transition duration-200 hover:bg-blue-700">Descargar</a>
          </div>
        </div>

        <div class="w-full md:w-1/3 px-4 mb-8">
          <div class="bg-white p-6 rounded-lg shadow-lg transition duration-200 hover:shadow-xl document-box">
            <div class="document-content">
              <h3 class="text-2xl font-semibold mb-2 text-orange-500">Destrucción y eliminación segura de la información</h3>
              <h4 class="text-lg font-medium mb-2 text-gray-700">PECRSI02</h4>
              <h5 class="text-l font-medium mb-2 text-blue-600">Procedimiento Especifico</h5>
              <p class="text-gray-600">Determinar las fases del proceso para el borrado, destrucción y/o eliminación segura de los activos de la información almacenada en medios digitales, disco duro, otros dispositivos alternos, que vayan a ser dados de baja o eliminados por parte de personal del área Sistemas IT.</p>
            </div>
            <a href="Sistemas/PECRSI02DestruccioneliminacionSeguraDeLaInformacion/PECRSI02DestruccionEliminacionSeguraDeLaInformacion.pdf" download class="bg-blue-500 text-white font-semibold px-4 py-2 rounded document-download transition duration-200 hover:bg-blue-700">Descargar</a>
          </div>
        </div>

        <div class="w-full md:w-1/3 px-4 mb-8">
          <div class="bg-white p-6 rounded-lg shadow-lg transition duration-200 hover:shadow-xl document-box">
            <div class="document-content">
              <h3 class="text-2xl font-semibold mb-2 text-orange-500">Reglas firewall</h3>
              <h4 class="text-lg font-medium mb-2 text-gray-700">PECRSI012</h4>
              <h5 class="text-l font-medium mb-2 text-blue-600">Procedimiento Especifico</h5>
              <p class="text-gray-600">El objetivo de este procedimiento es definir las reglas esenciales relativas a la gestión y mantenimiento del Firewall (fortigate) empleado en todos los equipos de Comercializadora rápido S.A. de C.V.</p>
            </div>
            <a href="Sistemas/PECRSI12ReglasFirewall/PECRSI12ReglasFirewall.pdf" download class="bg-blue-500 text-white font-semibold px-4 py-2 rounded document-download transition duration-200 hover:bg-blue-700">Descargar</a>
          </div>
        </div>

        <div class="w-full md:w-1/3 px-4 mb-8">
          <div class="bg-white p-6 rounded-lg shadow-lg transition duration-200 hover:shadow-xl document-box">
            <div class="document-content">
              <h3 class="text-2xl font-semibold mb-2 text-orange-500">Parches y actualizaciones pos_724</h3>
              <h4 class="text-lg font-medium mb-2 text-gray-700">PECRSI23</h4>
              <h5 class="text-l font-medium mb-2 text-blue-600">Procedimiento Especifico</h5>
              <p class="text-gray-600">Establecer el procedimiento empleado para la aplicación y actualización de parches en los sistemas de información empleados por Comercializadora Rápido S.A. de C.V, con el propósito de mitigar los riesgos derivados de la pérdida, eliminación o integridad de información.</p>
            </div>
            <a href="Sistemas/PECRSI23ParchesActualizacionesPos_724/PECRSI23ParchesActualizacionesPos724.pdf" download class="bg-blue-500 text-white font-semibold px-4 py-2 rounded document-download transition duration-200 hover:bg-blue-700">Descargar</a>
          </div>
        </div>

        <div class="w-full md:w-1/3 px-4 mb-8">
          <div class="bg-white p-6 rounded-lg shadow-lg transition duration-200 hover:shadow-xl document-box">
            <div class="document-content">
              <h3 class="text-2xl font-semibold mb-2 text-orange-500">Gestión de LOGS</h3>
              <h4 class="text-lg font-medium mb-2 text-gray-700">PECRSI24</h4>
              <h5 class="text-l font-medium mb-2 text-blue-600">Procedimiento Especifico</h5>
              <p class="text-gray-600">Establecer el proceso de revisión y monitoreo de logs que se generan en el servidor Bancomer para detectar y reaccionar ante posibles intrusiones que vulneren la seguridad de la información de Comercializadora Rápido S.A. de C.V.</p>
            </div>
            <a href="Sistemas/PECRSI24GestiónDeLOGS/PECRSI24GestionDeLOGS.pdf" download class="bg-blue-500 text-white font-semibold px-4 py-2 rounded document-download transition duration-200 hover:bg-blue-700">Descargar</a>
          </div>
        </div>

        <div class="w-full md:w-1/3 px-4 mb-8">
          <div class="bg-white p-6 rounded-lg shadow-lg transition duration-200 hover:shadow-xl document-box">
            <div class="document-content">
              <h3 class="text-2xl font-semibold mb-2 text-orange-500">Gestión de servicios</h3>
              <h4 class="text-lg font-medium mb-2 text-gray-700">PECRSI26</h4>
              <h5 class="text-l font-medium mb-2 text-blue-600">Procedimiento Especifico</h5>
              <p class="text-gray-600">Establecer el proceso de Gestión de los servicios a través de mejores prácticas, herramientas y recursos disponibles para la entrega de los servicios solicitados.</p>
            </div>
            <a href="Sistemas/PECRSI26GestionDeServicios/PECRSI26GestionDeServicios.pdf" download class="bg-blue-500 text-white font-semibold px-4 py-2 rounded document-download transition duration-200 hover:bg-blue-700">Descargar</a>
          </div>
        </div>

        <div class="w-full md:w-1/3 px-4 mb-8">
          <div class="bg-white p-6 rounded-lg shadow-lg transition duration-200 hover:shadow-xl document-box">
            <div class="document-content">
              <h3 class="text-2xl font-semibold mb-2 text-orange-500">Reporte al SICA</h3>
              <h4 class="text-lg font-medium mb-2 text-gray-700">PECRSI30</h4>
              <h5 class="text-l font-medium mb-2 text-blue-600">Procedimiento Especifico</h5>
              <p class="text-gray-600">Establecer el mecanismo de atención y respuesta inmediata en el caso de que exista algún incidente o requerimiento por parte del usuario.</p>
            </div>
            <a href="Sistemas/PECRSI30ReporteAlSICA/PECRSI30ReporteSICA.pdf" download class="bg-blue-500 text-white font-semibold px-4 py-2 rounded document-download transition duration-200 hover:bg-blue-700">Descargar</a>
          </div>
        </div>

      </div>
    </mat-tab>
  </mat-tab-group>
</section>
