<!-- src/app/documentos/documentos.component.html -->
<section class="container mx-auto px-6 py-12">
  <div class="text-center mb-12">
    <h2 class="text-4xl font-bold text-blue-900">Documentos PDF</h2>
    <p class="text-gray-600">Descarga los siguientes documentos importantes:</p>
  </div>
  <mat-tab-group class="mb-8">
    <mat-tab label="Operaciones">
      <div class="p-4 bg-gray-100 rounded-lg mb-8">
        <h3 class="text-xl font-semibold text-blue-900 mb-2">Documentos de Operaciones</h3>
        <p class="text-gray-600 mb-4">Aquí encontrarás documentos relacionados con las operaciones de la empresa, incluyendo políticas y procedimientos esenciales para el funcionamiento diario.</p>
      </div>
      <div class="flex flex-wrap -mx-4">
        <div class="w-full md:w-1/3 px-4 mb-8">
          <div class="bg-white p-6 rounded-lg shadow-lg transition duration-200 hover:shadow-xl document-box">
            <div class="document-content">
              <h3 class="text-2xl font-semibold mb-2 text-orange-500">Uso correcto de escalera manual</h3>
              <h4 class="text-lg font-medium mb-2 text-gray-700">PECROP03</h4>
              <h5 class="text-l font-medium mb-2 text-blue-600">Procedimiento especifico</h5>
              <p class="text-gray-600 mb-4">Establecer el uso correcto de escalera manual, para así poder garantizar la seguridad de cada colaborador dentro de Comercializadora Rápido S.A. DE C.V.</p>
            </div>
            <a href="OPERACIONES/PECROP03%20Uso%20correcto%20de%20la%20escalera/PECROP03%20Uso%20correcto%20de%20la%20escalera.pdf" download class="bg-blue-500 text-white font-semibold px-4 py-2 rounded document-download transition duration-200 hover:bg-blue-700">Descargar</a>
          </div>
        </div>
        <div class="w-full md:w-1/3 px-4 mb-8">
          <div class="bg-white p-6 rounded-lg shadow-lg transition duration-200 hover:shadow-xl document-box">
            <div class="document-content">
              <h3 class="text-2xl font-semibold mb-2 text-orange-500">Carga Manual</h3>
              <h4 class="text-lg font-medium mb-2 text-gray-700">PECROP04</h4>
              <h5 class="text-l font-medium mb-2 text-blue-600">Procedimiento especifico</h5>
              <p class="text-gray-600 mb-4">Establecer los elementos para realizar el manejo manual de las cargas correcto, con el fin de prevenir alteraciones a la salud de cada uno de los colaboradores dentro de Comercializadora Rápido S.A de C.V.</p>
            </div>
            <a href="OPERACIONES/PECROP04_Carga_manual/PECROP04_Carga_manual.pdf" download class="bg-blue-500 text-white font-semibold px-4 py-2 rounded document-download transition duration-200 hover:bg-blue-700">Descargar</a>
          </div>
        </div>
        <div class="w-full md:w-1/3 px-4 mb-8">
          <div class="bg-white p-6 rounded-lg shadow-lg transition duration-200 hover:shadow-xl document-box">
            <div class="document-content">
              <h3 class="text-2xl font-semibold mb-2 text-orange-500">Corresponsalías BBVA</h3>
              <h4 class="text-lg font-medium mb-2 text-gray-700">PECROP06</h4>
              <h5 class="text-l font-medium mb-2 text-blue-600">Procedimiento especifico</h5>
              <p class="text-gray-600 mb-4">Establecer el proceso y responsabilidades para la correcta ejecución de corresponsalías BBVA.</p>
            </div>
            <a href="OPERACIONES/PECROP06_Corresponsalías_BBVA/PECROP06_Corresponsalias_BBVA.pdf" download class="bg-blue-500 text-white font-semibold px-4 py-2 rounded document-download transition duration-200 hover:bg-blue-700">Descargar</a>
          </div>
        </div>
        <div class="w-full md:w-1/3 px-4 mb-8">
          <div class="bg-white p-6 rounded-lg shadow-lg transition duration-200 hover:shadow-xl document-box">
            <div class="document-content">
              <h3 class="text-2xl font-semibold mb-2 text-orange-500">Corresponsalías Santander de México</h3>
              <h4 class="text-lg font-medium mb-2 text-gray-700">PECROP07</h4>
              <h5 class="text-l font-medium mb-2 text-blue-600">Procedimiento especifico</h5>
              <p class="text-gray-600 mb-4">Establecer el proceso y responsabilidades para la correcta ejecución de corresponsalías Santander México.</p>
            </div>
            <a href="OPERACIONES/PECROP07CorresponsaliasSantander/PECROP07CorresponsaliasSantander.pdf" download class="bg-blue-500 text-white font-semibold px-4 py-2 rounded document-download transition duration-200 hover:bg-blue-700">Descargar</a>
          </div>
        </div>
        <!-- Agrega más documentos aquí si es necesario -->
      </div>
    </mat-tab>
    <mat-tab label="Sistemas">
      <div class="p-4 bg-gray-100 rounded-lg mb-8">
        <h3 class="text-xl font-semibold text-blue-900 mb-2">Documentos de Sistemas</h3>
        <p class="text-gray-600 mb-4">Aquí encontrarás documentos relacionados con los sistemas de la empresa, incluyendo guías, normas y formatos para el uso y control adecuado de los recursos tecnológicos.</p>
      </div>
      <div class="flex flex-wrap -mx-4">
        <div class="w-full md:w-1/3 px-4 mb-8">
          <div class="bg-white p-6 rounded-lg shadow-lg transition duration-200 hover:shadow-xl document-box">
            <div class="document-content">
              <h3 class="text-2xl font-semibold mb-2 text-orange-500">Guía de Uso de TI</h3>
              <h4 class="text-lg font-medium mb-2 text-gray-700">TI01</h4>
              <h5 class="text-l font-medium mb-2 text-blue-600">Guía</h5>
              <p class="text-gray-600">Normas para el uso adecuado de los recursos tecnológicos de la empresa.</p>
            </div>
            <a href="assets/docs/guia-uso-ti.pdf" download class="bg-blue-500 text-white font-semibold px-4 py-2 rounded document-download transition duration-200 hover:bg-blue-700">Descargar</a>
          </div>
        </div>
        <!-- Agrega más documentos aquí si es necesario -->
      </div>
    </mat-tab>
  </mat-tab-group>
</section>
